.grid-col-main{
	display: flex;
	flex-direction: column;
	max-width: 65%;
	margin-top: 6rem;
}

#citations{
	min-width: 100%;
}

#citations .grid-col-main{
	display: flex;
	flex-direction: column;
	margin-top: 6rem;
	max-width: 65%;
	margin-left: 5%;
}

.grid-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
}


.grid-col-1of2{
	max-width: 50%;
}

.grid-col-1of2:first-of-type{
	margin-right: 2%;
}

.grid-col-1of5{
	width: 19.5%;
}

.grid-col-2of12{
	width: 16.5%;
}

.grid-col-3of12{
	width: 25%;
}

.grid-col-4of12{
	width: 33%;
}

.grid-col-6of12{
	width: 49%;
}

 .grid-col-8of12{
	width: 66.5%;
}


/* Style GUide Grids*/
#gridStructure .grid-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;

	justify-content: space-between;
	margin-top: 1rem;
}

#gridStructure .grid-col-1of5{
	background-color: #F0F0F0;
	width: 19.5%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

#gridStructure .grid-col-1of12{
	background-color: #F0F0F0;
	width: 8.25%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

#gridStructure .grid-col-2of12{
	background-color: #F0F0F0;
	width: 16.5%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

#gridStructure .grid-col-3of12{
	background-color: #F0F0F0;
	width: 25%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

#gridStructure .grid-col-4of12{
	background-color: #F0F0F0;
	width: 33%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

#gridStructure .grid-col-5of12{
	background-color: #F0F0F0;
	width: 41%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

#gridStructure .grid-col-6of12{
	background-color: #F0F0F0;
	width: 49%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

#gridStructure .grid-col-8of12{
	background-color: #F0F0F0;
	width: 66.5%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

#gridStructure .grid-col-12of12{
	background-color: #F0F0F0;
	width: 100%;
	text-align: center;
	padding: 1rem 0 1rem 0;
}


#gridStructure .grid-col-6of12:first-of-type{
	margin-right: 1%;
}