@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/*border: 1px solid red !important; */
}

body{
	font-family: 'Lato', sans-serif;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

@font-face{
	font-family: "Butler";
	font-weight: bold;
	font-style: normal;
	src: url('font/Butler_Black.otf') format('opentype');
}

header{
	background-color: #153559;
	opacity: 0.8;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;

	z-index: 100;
}

header a.navName{
	font-family: "Butler";
	margin-bottom: 0.25rem;
	margin-top: 0.5rem;
	margin-left: 5%;
	color: #fff;

	text-decoration: none;
}

header h1{
	font-family: "Butler";
	margin: 0;
}


/*constraining image height*/
.thin {
	min-width: 100%;
	max-height: 15em;
}

/*for the image links on the homepage*/
img.interactive{
	position: relative;
	min-width: 100%;
	max-height: 15em;
}

ul.mainNavigation{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	margin-left: 5%;
	padding-top: 1.5em;
}

ul.mainNavigation a{
	margin-right: 3rem;
	padding: 0.5rem;
	text-decoration: none;
	color: #fff;
	border-radius: 0.5rem;

	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

ul.mainNavigation a:hover{
	color: #FFD54F;
}

/*for the links on the right side of the navigation bar*/
ul.sideButtons{
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	right: 5%;
	padding-top: 1.5em;
}

.buyButton{
	font-size: 1rem;
	margin-top: 0.5em;
	margin-right: 1em;
	text-decoration: none;
	color: white;

	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.buyButton:hover{
	color: #FFD54F;
}


ul.navigation{
/*	margin-left: 5%;
	margin-right: 5%;
	margin-top: 7em;*/
	display: flex;
	flex-direction: column;
	list-style: none;
	text-align: right;
}

ul.navigation a{
	text-decoration: none;
	display: block;
	margin-bottom: 1em;
	color: #153559;
	font-style: bold;
	font-weight: 700;

	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

ul.navigation a:hover{
	color: #FFD54F;
}


h1{
	font-family: "Butler";
	margin-top: 2rem;
	margin-left: 0;
	font-size: 2.5rem;
}

h2{
	font-family: "Butler";
	font-size: 1.8rem;
	margin-top: 2rem;
}


/* home page styling */
h2 a {
	font-family: "Butler";
	text-decoration: none;
	color: #153559;
	text-align: center;
	position: absolute;
	left: 45%;

	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

h2 a:hover {
	color: #D9D2D5;
}
/* ----------------- */

h3{
	font-family: "Butler";
	font-size: 1.4rem;
	margin: 0;
}

h4{
	font-size: 1.3rem;
	margin-top: 2rem;
}

img{
	max-width: 100%;
	height: auto;
}

p.body{
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 3rem;
}

p, ol, ul{
	margin: 0;
	max-width: 75%;
}

a {
	text-decoration: none;
}

ol{
	list-style-type: upper-roman;
	padding-left: 0;
}

ul{
	list-style-type: none;
	padding-left: 0;
}

ol li,
ul li{
	padding-bottom: 0.5rem;
	list-style-position: inside;
}

p a{
	color: #4C5C7D;
	font-weight: bold;
}

p a:hover{
	color: #B5849A;
}

section {
	max-width: 100%;
}

[class^='primary'] {
	color: #fff;
	background-color: #153559;
	text-decoration: none;
	margin-top: 1rem;
}

.simpleButton{
	font-weight: bold;
	padding: 1rem;
	text-decoration: none;
	color: #4C5C7D;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 1rem;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.simpleButton:hover{
	background-color: #D9D2D5;
}

.primaryButton{
	font-weight: bold;
	padding: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 1rem;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.primaryButton:hover{
	background-color: #4C5C7D;
}

.bigButton{
	margin-top: 1rem;
	font-weight: bold;
	padding: 1.5rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: #153559;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 1rem;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.bigButton:hover{
	background-color: #D9D2D5;
}

.primaryBig{
	padding: 1.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 1rem;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.primaryBig:hover{
	background-color: #4C5C7D;
}

ul.pagination{
	font-size: 1.25rem;
	display: inline-block;
	margin-top: 2rem;
}

ul.pagination li{
	display: inline;
}

ul.pagination li a{
	text-decoration: none;
	color: #153559;
	padding: 1rem;
	border-radius: 0.5rem;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

ul.pagination li a:hover{
	background-color: #D9D2D5;
}

a.buttonGroup{
	padding: 1.25rem 1.75rem 1.25rem 1.75rem;
	margin-bottom: 2rem;
	text-decoration: none;
	color: #153559;
	background-color: #D9D2D5;
	border-color: #BFB8BB;
	border-style: solid;
	border-width: 0.1rem;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

a.buttonGroup:hover{
	background-color: #4C5C7D;
	color: white;
}

/*coding for the colours in the personalized packaging section*/

[class^='colour'] {
	height: 5em;
	width: 100%;
}

.colour1{
	background-color: #153559;
}

.colour2{
	background-color: #D9D2D5;
}

.colour3{
	background-color: #D1BAC4;
}

.colour4{
	background-color: #FFD54F;
}

.colour5{
	background-color: #67804A;
}


input[type="submit"]{
	background-color: #fff;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	border-style: solid;
	border-color: #153559;
	border-width: 0.1em;
	color: #153559;
	font-weight: bold;
	font-size: 1.1rem;
	margin-top: 0.5em;
}

input[type="submit"]:hover{
	color: #4C5C7D;
	border-color: #4C5C7D;
}

form {
	display: inline-block;
	background-color: #D9D2D5;
	padding: 1em;
	width: 100%;
}

input[type="text"]{
	width: 100%;
	height: 2rem;
}

label{
	display: block;
	margin-bottom: 0.25rem;
	margin-top: 1.25rem;

}

textarea{
	height: auto;
	width: 100%;
	max-width: 100%;
}

hr {
	width: 100%;
}

.justified {
	text-align: center;
}

.justify-left {
	position: relative;
	float: left;
	text-align: left;
}

.justify-right {
	position: relative;
	float: right;
	text-align: right;
}

.max-width {
	max-width: 100%;
}

.transparent-bg {
	background-color: transparent;
}

.italic {
	font-style: italic;
}

.margin-0 {
	margin: 0;
}

/*---PRODUCT LISTING---*/

figure.item {
	margin: 0;
}

img.item-img {
	max-width: 100%;
	padding: 0em 2em 0em 2em;
}

.item-description {
	text-align: left;
	margin: 0;
	font-size: 0.9rem;
	float: left;
	position: relative;
	padding: 0em 2em 0em 2em;
}

a.item-link, a:visited.item-link {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.padding-text {
	font-size: 0.9rem;
	padding: 1rem;
}

.margin-2em-bot {
	margin-bottom: 2em;
}


/*---PRODUCT DETAILS---*/
.padding-1em {
	padding-top: 1em;
}

.padding-1em-left {
	padding-left: 2em;
}

.padding-2em {
	padding-top: 2em;
}

.btn-position {
	display: block;
	position: relative;
	text-align: center;
	top: 2em;
	padding: 1.5em;
	width: 95%;
}

/*---PRODUCT REVIEW---*/

.first-review {
	border-top:1px solid #D9D2D5;
}

.review {
	border-bottom: 1px solid #D9D2D5;
	padding: 0.75em;
}


/*--- SHOPPING CART ---*/

.cart-img {
	max-width: 75%;
	padding: 1em 0em 1em 0em;
}

.border-thick {
	border-bottom: 5px solid #000;
	padding-bottom: 0.75em;
}

.border-thin {
	border-bottom: 1px solid #D9D2D5;
}

select {
	padding: 1em 1.5rem;
	position: relative;
}

.link {
	padding: 0.5em;
	font-size: 1rem;
	color: #bb0a8b;
	font-weight: 700;
	font-style: bold;
	text-decoration: underline;
}

.shop-notification {
	background-color: #eee;
	font-weight: 400;
	padding: 1rem;
	letter-spacing: 0.1rem;
}

.checkout-btn {
	border-width: .25em !important;
	/*padding: 1em 2em !important;*/
	margin: 0;
	position: relative;
	left: 1%;
	margin-bottom: 1em;
}

textarea{
	min-width: 75%;
	max-width: 100%;
}


/* --- Checkout ---- */

#shipping {
	padding: 2em;
	margin-bottom: 1em;
	border: 1.3em solid #999;
	/*border-style: double;*/
	/*background: transparent;*/
}

#checkout-btn {
	border-width: 2px;
	padding: .8em 2em;
}

/* ======= MEDIA QUERIES ======= */

@media (max-width: 80em){
	form {
		width: 100%;
	}

	input[type="text"]{
		width: 100%;
	}

	textarea{
		width: 100%;
		max-width: 100%;
	}

	img.productDetail-img {
		width: 50%;
	}
	
	.cutoff {
		width: 100%;
	}

}